<p>
  <strong>Rating:</strong>
  <% comment.rating.times do %>
    <%= image_tag 'prayer.png' %>
  <% end %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= comment.user.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>


<p>
<%= link_to "Destroy Comment", [comment.article, comment],
  method: :delete,
  data: { confirm: "are you sure you want to delete #{comment.body}" } %>
</p>
