<p>
  <strong>Rating:</strong>
  <% comment.rating.times do %>
    <%= image_tag 'star.svg.png' %>
  <% end %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= comment.user.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if User.logged_in?(session[:current_user_id]) && User.author?(session[:current_user_id], comment.user_id) %>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment],
      method: :delete,
      data: { confirm: "are you sure you want to delete #{comment.body}" } %>
  </p>
<% end %>
