<%= link_to "Home", "/articles" %>

<h1>Edit Article</h1>

<% if User.logged_in?(session[:current_user_id]) && User.author?(session[:current_user_id], @article.author_id)%>
  <%= render "form", article: @article %>
<% end %>

